{% extends "home.html" %}
{% block content %}
<h1>movies</h1>
<ul>
    {% for movie in page_obj %}
    <li><a href="{% url 'watchlist:movie_detail' movie.pk %}?next={{ request.path }}"> {{ movie.name }} ({{ movie.release_year }}) -Rating:{{ movie.rating }} -Status:{{ movie.status }}</a></li>
    {% empty %}
        <li>No movies yet.</li>
    {% endfor %}
</ul>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        {% endif %}
        <li class="page-item disabled">
            <span class="page-link"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>
        </li>
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}