{% extends "home.html" %}
{% block title %}{{movie.name}} -details{% endblock %}
{% block content %}
<h1>{{ movie.name }}</h1>
<p>release: {{ movie.release_year }}</p>
<p>status:{{ useritem.status }}</p>
<p>rating: {{ useritem.rating }}</p>
{% if user.is_authenticated %}
    {% if inwatchlist %}
        <form action="{% url 'watchlist:remove_from_watchlist' movie.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">remove from watchlist</button>
        </form>
        <a href="{% url 'watchlist:edit' movie.pk %}?next={{ next }}">edit</a>
    {% else %}
        <form action="{% url 'watchlist:add_to_watchlist' movie.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">add to watchlist</button>
        </form>
        {% endif %}
{% endif %}
<a href="{{ next }}">← Back</a>
{% endblock %}