{% extends "home.html" %}
{% block title %}{{series.name}} -details{% endblock %}
{% block content %}
<h1>{{ series.name }}</h1>
<p>release: {{ series.release_year }}</p>
<p>status:{{ series.status }}</p>
<p>rating: {{ series.rating }}</p>
{% if user.is_authenticated %}
    {% if inwatchlist %}
        <form action="{% url 'watchlist:remove_from_watchlist' series.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">remove from watchlist</button>
        </form>
        <a href="{% url 'watchlist:edit' series.pk %}?next={{ next }}">edit</a>
    {% else %}
        <form action="{% url 'watchlist:add_to_watchlist' series.pk %}" method="post">
        {% csrf_token %}
        <button type="submit">add to watchlist</button>
        </form>
        {% endif %}
{% endif %}
<a href="{{ next }}">← Back</a>
{% endblock %}