{% extends "home.html" %}
{% block content %}
<h1>Series</h1>
    <div class="row row-cols-2 row-cols-md-4 g-4">
  {% for item in page_obj %}
    <div class="col">
      <div class="card h-100 bg-dark text-light">
        <img src="{{ item.poster_url}}" class="card-img-top" alt="{{ item.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.name }}</h5>
          <p class="card-text">{{ item.release_year }}</p>
            <a href="{% url 'watchlist:series_detail' item.pk %}?next={{ request.path }}" class="btn btn-outline-light btn-sm">View</a>
        </div>
      </div>
    </div>
  {% empty %}
    <p>No series yet.</p>
  {% endfor %}
</div>
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
        {% endif %}
        <li class="page-item disabled">
            <span class="page-link"> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }} </span>
        </li>
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}