<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Watchlist{% endblock %}</title>
</head>
<body>
<header>
<nav>
    <h1>Watchlist</h1>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'watchlist:series_list' %}">Series</a></li>
        <li><a href="{% url 'watchlist:movie_list' %}">Movies</a></li>
        <li><form method="post" action="{% url 'watchlist:add_series' %}">
            {% csrf_token %}
            <button type="submit">add series</button>
            </form>
        </li>
        <li><form method="post" action="{% url 'watchlist:add_movie' %}">
                {% csrf_token %}
                <button type="submit">add movie</button>
            </form>
            </li>
        {% if user.is_authenticated %}
            <li>Welcome, {{ user.username }}</li>
            <li><a href="{% url 'watchlist:mylist' %}">My list</a></li>
            <li><form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            </li>
        {% else %}
            <li><a href="{% url 'watchlist:signup' %}">signup</a> <a href="{% url 'watchlist:login' %}">login</a></li>
        {% endif %}
    </ul>
</nav>
</header>
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li class="{{ message.tags }}">{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
<main>
{% block content %}
<h1>library</h1>
<ul>
    {% for item in films %}
    {% if item.movies %}
        <li><a href="{% url 'watchlist:movie_detail' item.pk %}?next={{ request.path }}">{{ item.name }} ({{ item.release_year }}) -Rating: {{ item.rating }} -Status:{{ item.status }}</a></li>
    {% elif item.series %}
        <li><a href="{% url 'watchlist:series_detail' item.pk %}?next={{ request.path }}">{{ item.name }} ({{ item.release_year }}) -Rating: {{ item.rating }} -Status:{{ item.status }}</a></li>
    {% endif %}
    {% empty %}
        <li>No films yet.</li>
    {% endfor %}
</ul>
{% endblock %}
</main>
</body>
</html>